<%= render partial: "shared/heading", locals: {title: 'Apply to Founder Digest', tagline: 'Browse newsletters and upload your own.'} %>

<!-- space-y-8"> -->
<div class="max-w-sm mx-auto">
<%= form_for UserSubmission.new do |f| %>
    <div class="space-y-8">
      <input type="hidden" name="plan" value="<%= params[:plan]%>">
      <div class="">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
            <div class="mt-1">
              <%= f.text_field :first_name, placeholder:'Ryan', class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"  %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
            <div class="mt-1">
              <%= f.text_field :last_name, placeholder:'Kulp', class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"  %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
            <div class="mt-1">
              <%= f.text_field :email, type: 'email', placeholder:'ryan@fomo.com', class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="website" class="block text-sm font-medium text-gray-700">Company Website</label>
            <div class="mt-1">
              <%= f.text_field :website, type: 'url', placeholder:'https://fomo.com', class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="mt-6">

          <fieldset class="mt-6">
            <legend class="contents text-base font-medium text-gray-900">What's your role?</legend>
            <div class="mt-4 space-y-4">
              <div class="flex items-center">
                <input id="user_submission_job_role_csuite" name="user_submission[job_role]" type="radio" value="C-Suite" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="user_submission_job_role_csuite" class="ml-3 block text-sm font-medium text-gray-700">C-Suite</label>
              </div>
              <div class="flex items-center">
                <input id="user_submission_job_role_founder" name="user_submission[job_role]" type="radio" value="Founder" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="user_submission_job_role_founder" class="ml-3 block text-sm font-medium text-gray-700">Founder</label>
              </div>
              <div class="flex items-center">
                <input id="user_submission_job_role_employee" name="user_submission[job_role]" type="radio" value="Employee" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="user_submission_job_role_employee" class="ml-3 block text-sm font-medium text-gray-700">Employee</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="sm:col-span-6 pt-5">
      <label for="text" class="block text-sm font-medium text-gray-700">About</label>
      <div class="mt-1">
        <%= f.text_area :text, placeholder:"Stakeholders,&#10;&#10;this month we worked primiarly on ...".html_safe, rows: 6, class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
      <p class="mt-2 text-sm text-gray-500">The more detailed, the more likely you'll be accepted.</p>
  </div>


    <div class="pt-5">
      <div class="flex justify-end">
        <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent bg-brand-blue hover:bg-brand-blue-dark py-2 px-4 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Apply</button>
      </div>
    </div>
  <%end%>
</div>
